.container {
    background-color: #F5FAFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    height: 100vh;
    gap: 20px;
}